/** xs **/
.brand {
    border: 1px solid #e3e3e3;
    height: 140px;
    border-radius: 10px;
    background-color: white;
    position: relative;
    margin-bottom: 20px;
    line-height: 140px;
    text-align: center;
}
.brand img {
    max-width: 150px;            
    max-height: 75px;
    margin:auto;
    display: inline-block;

}

@include media-breakpoint-up(sm) {

}
@include media-breakpoint-up(md) {

}

@include media-breakpoint-up(lg) {

}

@include media-breakpoint-up(xl) {

}

@include media-breakpoint-up(xxl) {

}