/** xs **/
.play-diapo {
    margin-top: 40px;
    display: inline-block;
    cursor: pointer;
    position: relative;
}

@include media-breakpoint-up(sm) {

}
@include media-breakpoint-up(md) {

}

@include media-breakpoint-up(lg) {

}

@include media-breakpoint-up(xl) {

}

@include media-breakpoint-up(xxl) {

}